div.dataTables_wrapper div.dataTables_filter input:focus{
    outline-offset: 0;
    -webkit-appearance: none;
    outline-width: 0;
}
.dataTables_info, .dataTables_length{
    text-transform: capitalize;
}
.select2-selection__choice{
    color: black !important;
}
.opacity-0{
    opacity: 0 !important;
}
.opacity-full{
    opacity: 10 !important;
}
.dataTables_length{
    width: 25%;
    float: left;
}
.dt-buttons{
    position: relative;
    width: 50%;
}
.dataTables_filter{
    width: 25%;
    float: right;
}
@media (max-width: 700px) {
    .dataTables_length{
        width: 100%;
    }
    .dt-buttons{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 1em;
    }
    .dataTables_filter{
        width: 100%;
    }
}
.pvtFilterBox p button[type="button"]{
    margin: 10px 5px !important;
    border: 1px solid #5C5C5C !important;
    background-color: #5C5C5C !important;
    padding: 5px 5px !important;
    color: white !important;
}
.pvtRenderer, .pvtAggregator, .pvtRenderer:focus, .pvtAggregator:focus{
    padding: 3px !important;
    border-radius: 3px !important;
    outline-offset: 0;
    -webkit-appearance: none;
    outline-width: 0;
}