#pending-transactions{
    height: 80em !important;
    overflow-y: auto;
}
/* Customize the scrollbar */
#pending-transactions::-webkit-scrollbar {
    width: 1px; /* Set the width of the scrollbar */
}

/* Track (the background) */
#pending-transactions::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Set the track color */
}

/* Handle (the draggable part) */
#pending-transactions::-webkit-scrollbar-thumb {
    background-color: #EC3125; /* Set the handle color */
    border-radius: 10px;
}